body {
  background: rgb(211, 189, 226);
  background: linear-gradient(
    90deg,
    rgba(211, 189, 226, 0.36952998379254454) 0%,
    rgba(240, 151, 151, 0.3047001620745543) 68%
  );
  font-family: "Inter", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  margin-top: 70px;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}
h2 {
  margin-bottom: 2px;
}
select {
  margin: 30px 0;
  width: fit-content;
}
small {
  position: relative;
  top: -5px;
  font-size: 15px;
}
hr {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.app-wrapper {
  background-color: #fff;
  border: 2px solid #f2f3f2;
  border-radius: 10px;
  padding: 30px 20px;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 40px;
  font-weight: bold;
}
.city-display {
  display: flex;
  justify-content: space-between;
}
footer {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}
a {
  text-decoration: none;
  opacity: 0.7;
}
@media (max-width: 545px) {
  h1,
  .time {
    font-size: 30px;
  }
  .city-display {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
